.about .topic {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabs .tab-header {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-right: 50px;
  position: relative;
}

.tabs .tab-header label {
  font-size: 16px;
  font-weight: 500;
  line-height: 60px;
  cursor: pointer;

  transition: all 0.5s ease;
  color: #333;
}

#life:checked ~ .tab-header label.life,
#style:checked ~ .tab-header label.style,
#legacy:checked ~ .tab-header label.legacy {
  color: #bb2215;
  font-weight: 700;
}

.tabs .tab-header label:hover {
  color: #bb2215;
  font-weight: 700;
}

#life:checked ~ .tab-header .slider {
  top: 0;
}

#style:checked ~ .tab-header .slider {
  top: 60px;
}

#legacy:checked ~ .tab-header .slider {
  top: 120px;
}

.tabs .tab-body {
  width: 80%;
  height: 100%;
}
.tabs .text {
  display: none;
}

.card-about {
  padding: 3rem 0;
}

.card-header {
  margin-bottom: 2rem;
}

.tabs .text .title {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 500;
}

.tabs .tab-body .life {
  display: block;
}

#life:checked ~ .tab-body .life,
#style:checked ~ .tab-body .style,
#legacy:checked ~ .tab-body .legacy {
  display: block;
}

#style:checked ~ .tab-body .life,
#legacy:checked ~ .tab-body .life {
  display: none;
}

.tabs input {
  display: none;
}

.card-body p {
  padding: 1rem 0;
}
